:root{
  background-color: rgb(50,50,50);
}

body{
  display: block;
}

#atvirukas{
  background-color: red;
  margin: auto;
  border: solid 1px white;
  block-size: 98.3vh;
  background-image: url('img/christmas-decorations-1814927_1920.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#nx{
  color: white;
  position: relative;
  margin-top: 20%;
  margin-left: 10%;
  font-size: 30px;
  line-height: 1.5;
  width: 50vh;
  text-align: left;
}